<html>
<head>
	<meta charset="UTF-8">
	<title>ESTACIONAMIENTO</title>
</head>
<body>
	

	<h3>Registro de estancias (Automoviles)</h3>

	

	<hr>
	<h3>Opciones de administrador</h3>
	<br>
	<a href="/registerNew">Registrar Estancia (VEHICULOS)</a> <br>
	<a href="/registerLists">Ver Registros de Estancias</a> <br>
	
	<a href="/registerVehicle">Registrar Vehiculo</a> <br>
	<a href="/registerTypeVehicle">Registrar Tipo de Vehiculo</a> <br>
	<a href="/registerPay">Resgistrar Pago (Cobrar Estancia)</a> <br>

	<!-- registerNew
	registerLists	
	registerVehicle
	registerTypeVehicle
	registerPay -->

	
</body>
</html>