<html>
<head>
	<meta charset="UTF-8">
	<title>ESTACIONAMIENTO</title>
</head>
<body>	

	<h3></h3>	

	<hr>
	<h3>Registrar Estancia de vehiculo</h3>
	<hr>
	<p> Introduzca la matricula del vehiculo </p>
	<hr>
	<br>
	<!-- <hr> -->
	<form action="/captureCarPlate" method="POST" enctype="multipart/form-data">
	<!-- <form action="/saveTypeVehicle" method="POST" enctype="multipart/form-data"> -->
	 <!-- <input type="text" name="nuevo_nombre" placeholder="Nuevo nombre"> -->
	 <!-- <input id="nombreArchivo" name="nombre_archivo" type="hidden" value="{{nombre_archivo}}"> -->

	 <input type="text" name="car_plate" placeholder="Matricula del vehiculo"> <br>
	 
	 

	 <input type="submit" value=" Continuar " >
	</form>


	<!-- <a href="/registerEntry">Registrar Entrada</a> <br>
	<a href="/registerExit">Registrar Salidad</a> <br> -->
	
	<a href="/">Salir / Cancelar</a> <br>
		

	
</body>
</html>