<!-- registerLists -->
<html>
<head>
	<meta charset="UTF-8">
	<title>ESTACIONAMIENTO REGISTROS</title>
</head>
<body>
	<h3>Lista de registros</h3>
	<h4>{{nombre_archivo}}</h4>
	
	<!-- <p>Tabla html</p> -->
	<!-- placa |tipo_vehiculo | propietario | fecha | hora_entrada | hora_salida | Importe -->

	<!-- <h6>Vehiculos</h6> -->
	<!-- <ul>
		<li>Vehiculo</li>
		<li>Estancias</li>
		<li>pagos</li>
	</ul> -->

	


	<hr>
	<a href="/">Salir / Volver </a> <br>

	<!-- ----------------------------------- -->
	<!-- <br>
	{{data['date']}}
	{{data['registers']}}
	<hr> -->
	<!-- {{data.registers[0]}} -->


	<hr>
	
  

    

    <!-- <h5> title table mod</h5>   -->

    <table border class="default">

    	<tr>
    		<th>Id</th>
		    <th>Placa</th>
		    <!-- <th>Tipo de vehiculo</th>
		    <th>Propietario</th> -->
		    <th>Hora entrada</th>
		    <th>Hora salida</th>
		    <th>Propietario</th>
		    <th>Monto acumulado</th>
		    <!-- <th>Hora salida</th>
		    <th>Importe</th> -->
		    <th>Fecha entrada</th>
		    <th>Fecha salida</th>
		    <th>Estado de Pagodo</th>
	    </tr>

    	<tr>
        {% for item in data['registers'] -%}

        		
		
			{% if '/' == item %}

			</tr>

			<tr>
		    	
		    {% else %}

		    <!-- <td> {{ item }} </td> -->
			    {% if None == item %}
			    	<!-- <td> vacio </td> -->
			    	<td> </td>
			    {% else %}
			    	<td> {{ item }} </td>
			    {% endif %}
					    	    
		    {% endif %}
		
		{% endfor -%}

		</tr>
    </table>
	<hr>

	
    


	<!-- ----------------------------------- -->
		
</body>
</html>