<!-- registerPay -->
<html>
<head>
	<meta charset="UTF-8">
	<title>ESTACIONAMINETO PAGO</title>
</head>
<body>
	<h3>Realizar pago de Estancia</h3> 
	<a href="/">Cancelar</a> <br>
	<!-- <h4>{{nombre_archivo}}</h4> -->
	<hr>
	<form action="/savePay" method="POST" enctype="multipart/form-data">
	 <!-- <input type="text" name="nuevo_nombre" placeholder="Nuevo nombre"> -->
	 <!-- <input id="nombreArchivo" name="nombre_archivo" type="hidden" value="{{nombre_archivo}}"> -->

	 <input type="text" name="numeroPlaca" placeholder="Numero de placa" required="required"> <br>
	 <input type="text" name="hora" placeholder="Hora | pago" required="required"> <br>
	 <input type="text" name="tipoVehiculo" placeholder="Tipo de Vehiculo" required="required"> <br>
	 <input type="text" name="vehiculo" placeholder="Vehiculo" required="required">	 <br>
	 <input type="text" name="importe" placeholder="Importe" required="required"> <br>

	 <input type="submit" value="Realizar Pago" >
	</form>
	
</body>
</html>